  <header class="bg-white shadow">
    <nav class="container mx-auto px-4 py-2 flex items-center justify-between">
      <a href="/" class="text-2xl font-bold">Disney World</a>
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:text-gray-700">Home</a></li>
        <li><a href="/attractions" class="hover:text-gray-700">Attractions</a></li>
        <li><a href="/events" class="hover:text-gray-700">Events</a></li>
        <li><a href="/dining" class="hover:text-gray-700">Dining</a></li>
        <li><a href="/contact" class="hover:text-gray-700">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="container mx-auto px-4 py-8">
<!-- header -->
<div class="flex flex-col md:flex-row">

  <div class="md:w-1/2">
    <h1 class="text-4xl">WDW Hub</h1>
    <p class="text-sm text-gray-500">We connect with fans of Walt Disney World across the web to help you plan and enjoy one of the happiest places on earth.</p>
  </div>

  <div class="md:w-1/2">
    <div class="flex">
      <div class="hidden md:block w-1/2">
        <img alt="cinderella's castle night" src="https://web.archive.org/web/20190202104452im_/https://www.wdwhub.net/assets/32462536921_6cd170a0a6_m-7589c0c96ba4d661695994df881879c62c90d91f860261f3db8bfb435a259488.jpg" class="w-full h-auto">
      </div>
      <div class="w-full md:w-1/2">
        <img alt="cinderella's castle day" src="https://web.archive.org/web/20190202104452im_/https://www.wdwhub.net/assets/2333878420_2e278d4f26_m-f41b3be340da481267a9209bd3454970922e777c762d8ff206133553f5a25c80.jpg" class="w-full h-auto">
      </div>
    </div>
  </div>

</div>


    <!-- three column section -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <div class="col-span-1">
        <div class="bg-white rounded-lg shadow p-4">
        <p><a href="https://web.archive.org/web/20190202104452/http://hotels.wdwhub.net/">Walt Disney World Hotels</a></p>
        <p><a href="https://web.archive.org/web/20190202104452/http://hotels.wdwhub.net/"><img title="image of a Walt Disney World Hotel" src="https://web.archive.org/web/20190202104452im_/https://www.wdwhub.net/assets/DisneysArtofAnimationResort-RidetheColorWave-8c7ff526b168a313e1c3e8f75e4df5d1a4f5c2d5b9f1c6222a3219f058638911.jpg" alt="Disneysartofanimationresort ridethecolorwave"></a></p>
        <p class="text-lg font-bold">Where can we stay?</p>
        <p class="text-sm text-gray-500">With photos, tips, and a map, you are sure to find a hotel to fit your needs.</p>
        </div>
    </div>
    <div class="col-span-1">
        <div class="bg-white rounded-lg shadow p-4">
        <p><a href="https://web.archive.org/web/20190202104452/http://dining.wdwhub.net/">Walt Disney World Dining</a></p>
        <p><a href="https://web.archive.org/web/20190202104452/http://dining.wdwhub.net/"><img title="Walt Disney World Dining" src="https://web.archive.org/web/20190202104452im_/https://www.wdwhub.net/assets/2160747261_741feae5d6_z-b035ff92fcfa923b631184acc2804bef18073ef1c9541d6315e7d46ec3dcefd4.jpg" alt="2160747261 741feae5d6 z"></a></p>
        <p class="text-lg font-bold">What's to eat?</p>
        <p class="text-sm text-gray-500">All of the food is good, but some of it is awesome! Let's find what you like.</p>
        </div>
    </div>
    <div class="col-span-1">
        <div class="bg-white rounded-lg shadow p-4">
        <p><a href="https://web.archive.org/web/20190202104452/http://fun.wdwhub.net/">Disney Parks, Shows, and Fun</a></p>
        <p><a href="https://web.archive.org/web/20190202104452/http://fun.wdwhub.net/"><img title="Disney Parks" src="https://web.archive.org/web/20190202104452im_/https://www.wdwhub.net/assets/4601302443_904025c08d_z-86ab9e3dafbfe8129e16ad7f1bb2d9ca162e586856b03e059b2007b467dc4896.jpg" alt="4601302443 904025c08d z"></a></p>
        <p class="text-lg font-bold">Where's the fun?</p>
        <p class="text-sm text-gray-500">They're the best in the world. We will help you scout them out.</p>
        </div>
    </div>
</div>

<!-- -->
    
  </main>

<div class="py-32 max-w-2xl m-auto text-center flex flex-col items-center justify-center">
  <h1 class="mb-2">Welcome to Wdw Hub</h1>
  <p class="mb-6 text-gray-700 leading-normal text-xl">WDW Hub will be your favorite stop to learn a bunch of fun things about Walt Disney World.</p>

  <% if Rails.env.development? %>
    <div class="flex flex-col items-center md:flex-row">
      <div class="w-full md:w-auto">
        <%= link_to "Configure Jumpstart", jumpstart_path, data: { turbo: false }, class: "btn btn-primary lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>

      <div>
        <span class="hidden md:inline border border-gray-200 h-10 mr-4"></span>
        <%= link_to "Create a User", new_user_registration_path, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
        <%= link_to "Read the Docs", jumpstart.docs_path, target: :_blank, data: { turbo: false }, class: "btn btn-tertiary outline lg:mr-4 mr-0 lg:mb-0 mb-4" %>
      </div>
    </div>
  <% end %>
</div>
